@import '../../theme.scss';

.tournament-content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    padding: 60px 0px;

    img {
        width: 300px;
        border-radius: 10%;
        margin: 0 auto;

        &:hover {
            opacity: 0.8;
        }
    }

    img[active=true] {
        border: 10px solid $third-color;
    }

    .left-face {
        text-align: center;
    }
    
    .vs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
    }
    
    .right-face {
        text-align: center;
    }
}