
.tournament-header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    .left {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        .btn-home {
            height: 50px;
        }
    }

    .title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
}