$first-color: #193441;
$second-color: #3E606F;
$third-color: #91AA9D;
$fourth-color: #D1DBBD;
$background-color: #FCFFF5;

// @value fisrt-color #{$fisrt-color};
// @value light-navy #{$light-navy};
// @value light-navy #{$light-navy};